<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="b4a.example"
	android:versionCode="1"
	android:versionName="Goddess of Wisdom"
	android:installLocation="internalOnly">
	
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="35"/>
	<supports-screens android:largeScreens="true" 
	    android:normalScreens="true" 
	    android:smallScreens="true" 
	    android:anyDensity="true"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
	<uses-permission android:name="android.permission.WAKE_LOCK"/>
	<application
		android:name="androidx.multidex.MultiDexApplication"
		android:icon="@drawable/icon"
		android:label="Athena"
		android:theme="@style/LightTheme"
		android:largeHeap="true">
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".main"
			android:label="Athena"
			android:screenOrientation="portrait"
			android:exported="true">
			<intent-filter>
			   <action android:name="android.intent.action.MAIN" />
			   <category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			
		</activity>
		<service
			android:name=".starter"
			android:exported="true">
		</service>
		<receiver
			android:name=".starter$starter_BR"
			android:exported="true">
		</receiver>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".mainactivity"
			android:label="Athena"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".helpactivity"
			android:label="Athena"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".clockactivity"
			android:label="Athena"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".noteactivity"
			android:label="Athena"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".editnote"
			android:label="Athena"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".corkactivity"
			android:label="Athena"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".themeactivity"
			android:label="Athena"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<service
			android:name=".musicservice"
			android:exported="true">
		</service>
		<receiver
			android:name=".musicservice$musicservice_BR"
			android:exported="true">
		</receiver>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".active_recall"
			android:label="Athena"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".add_events_module"
			android:label="Athena"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".add_card_module"
			android:label="Athena"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".add_card_module2"
			android:label="Athena"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".all_active_recall"
			android:label="Athena"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".calendaractivity"
			android:label="Athena"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".card_module"
			android:label="Athena"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".day_module"
			android:label="Athena"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".deck_all_cards"
			android:label="Athena"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".flashcardactivity"
			android:label="Athena"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".musicactivity"
			android:label="Athena"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".navactivity"
			android:label="Athena"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".schedule_module"
			android:label="Athena"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".subdeck_module"
			android:label="Athena"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".todoactivity"
			android:label="Athena"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
	</application>
</manifest>